/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Orator;
  src: local("Orator Std"), url("fonts/OratorStd.otf");
  font-weight: normal;
  font-style: normal;
}

/* line 48, ../sass/app.scss */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/* line 52, ../sass/app.scss */
body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #000;
  color: #fff;
  font-family: Orator, 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

/* Portrait layout (default) */
/* line 68, ../sass/app.scss */
h1, h2, h3,
a {
  font-family: OratorStd;
  text-transform: lowercase;
  font-weight: normal;
}
/* line 37, ../sass/app.scss */
h1 em, h2 em, h3 em,
a em {
  font-style: normal;
}

/* line 71, ../sass/app.scss */
a {
  color: #0076bc;
  text-decoration: none;
}
/* line 74, ../sass/app.scss */
a:hover {
  color: #cd031b;
}

/* line 79, ../sass/app.scss */
body,
.page {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

/* line 94, ../sass/app.scss */
.page .content {
  padding: 0;
}
/* line 98, ../sass/app.scss */
.page #header,
.page #footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
}
/* line 104, ../sass/app.scss */
.page #header {
  top: 0;
}
/* line 107, ../sass/app.scss */
.page #footer {
  bottom: 0;
}
/* line 109, ../sass/app.scss */
.page #footer > * {
  width: 100%;
}
/* line 111, ../sass/app.scss */
.page #footer > * > * {
  display: table-cell;
}

/* line 119, ../sass/app.scss */
#splash #header img {
  width: 100%;
  height: auto;
}
/* line 124, ../sass/app.scss */
#splash #footer {
  background-color: #ffcb05;
}
/* line 126, ../sass/app.scss */
#splash #footer #logos_container {
  height: 100%;
}
/* line 128, ../sass/app.scss */
#splash #footer #logos_container > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 132, ../sass/app.scss */
#splash #footer #logos_container > div img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 10%;
}

/* line 142, ../sass/app.scss */
#menu {
  display: table;
  padding: 0 5%;
  color: #000;
  background-color: #f3f3f3;
}
/* line 147, ../sass/app.scss */
#menu .container {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
/* line 154, ../sass/app.scss */
#menu #header,
#menu #footer {
  padding: 2.5% 5%;
}
/* line 157, ../sass/app.scss */
#menu #header {
  padding-top: 5%;
}
/* line 159, ../sass/app.scss */
#menu #header h1 {
  font-size: 2em;
  color: #cd031b;
}
/* line 163, ../sass/app.scss */
#menu #header h2 {
  line-height: 2.4em;
  text-align: right;
}
/* line 168, ../sass/app.scss */
#menu .content {
  display: table-cell;
  vertical-align: middle;
}
/* line 172, ../sass/app.scss */
#menu .faces {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 174, ../sass/app.scss */
#menu .faces .face_thumbnail {
  float: left;
  margin-bottom: .5%;
  margin-right: 1%;
  width: 24.25%;
}
/* line 179, ../sass/app.scss */
#menu .faces .face_thumbnail a {
  width: 100%;
  height: auto;
}
/* line 183, ../sass/app.scss */
#menu .faces .face_thumbnail img {
  background-color: white;
  width: 100%;
  height: auto;
}
/* line 188, ../sass/app.scss */
#menu .faces .face_thumbnail:nth-of-type(4n) {
  margin-right: 0;
}
/* line 195, ../sass/app.scss */
#menu .faces .face_thumbnail:nth-of-type(8n+7) img, #menu .faces .face_thumbnail:nth-of-type(8n+5) img, #menu .faces .face_thumbnail:nth-of-type(8n+4) img, #menu .faces .face_thumbnail:nth-of-type(8n+2) img {
  background-color: black;
}
/* line 199, ../sass/app.scss */
#menu .faces .face_thumbnail:last-child {
  display: none;
}
/* line 206, ../sass/app.scss */
#menu #footer {
  text-align: right;
}

@media screen and (min-width: 480px) {
  /* line 211, ../sass/app.scss */
  .page {
    font-size: 1.4em;
  }
}
/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1 / 1) and (min-width: 400px) {
  /* line 217, ../sass/app.scss */
  .app {
    background-position: left center;
    padding: 75px 0px 75px 170px;
    /* padding-top + padding-bottom + text area = image height */
    margin: -90px 0px 0px -198px;
    /* offset vertical: half of image height */
    /* offset horizontal: half of image width and text area width */
  }
}
